@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css);
html {
  box-sizing: border-box;
  min-height: 100vh;
  background: #111; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: 'Roboto', sans-serif;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  line-height: 1.55;
  font-size: 14px; }
